fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
python-dotenv
motor
pymongo
PyJWT
python-jose[cryptography]
passlib[bcrypt]
scikit-learn
pandas
numpy
xgboost
shap
joblib
email-validator
